@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--This code for showing image in home Page-->
    <img src="~/img/img.jpg" />
    <p>This is a website for those people who are very keen to wath the movies in theaters. We are provide all the information about movies and cinemas which are available. Also, in this website information is available about movie which are for kids.</p>
</div>
